html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: inherit; }

body {
  line-height: 1.5; }

strong {
  font-weight: 500; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (max-width: 415px) {
  .logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7); } }

.link {
  color: #00aaef;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .link:hover {
    color: #2f80ed; }

.nav {
  color: black;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    padding: 7px 20px;
    margin: 0 22.5px;
    border-radius: 10px; }
    .nav__item_active {
      background-color: #d5c5aa; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #d5c5aa; }

@media screen and (max-width: 999px) {
  .nav {
    font-size: 20px; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .nav__item {
      margin-bottom: 20px;
      font-size: 20px; } }

.header {
  height: 100vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  font-weight: 400;
  line-height: 1; }
  .header__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }
  .header__top {
    position: absolute;
    top: 35px;
    left: calc(50% - 57.5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__phone {
    margin: 0 82px;
    color: white; }
  .header__phone, .header__action {
    position: relative;
    top: 47px; }
  .header__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase; }
    .header__link:hover {
      color: #d5c5aa; }

@media screen and (max-width: 999px) {
  .header {
    font-size: 20px; }
    .header__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: calc(50% - 78px); }
    .header__phone {
      margin: -25px 0 15px; } }

.section {
  padding: 100px calc(50% - 470px);
  position: relative;
  background-color: white; }
  .section:nth-child(even) {
    background-color: #eee; }
  .section__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em; }

@media screen and (max-width: 999px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

@media screen and (max-width: 415px) {
  .section {
    padding: 64px 20px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    width: 314px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 48px;
    margin: 0; }
  .info__text {
    max-width: 564px; }
    .info__text > :first-child {
      margin-top: 0; }
    .info__text > :last-child {
      margin-bottom: 0; }

@media screen and (max-width: 999px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      margin-bottom: 16px; }
    .info__text {
      max-width: 100%; } }

@media screen and (max-width: 415px) {
  .info__heading {
    font-size: 36px;
    line-height: 1; } }

.heading {
  font-size: 48px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::before, .heading::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: calc(50% - 20px);
    background-color: #00aaef;
    top: calc(100% + 5px); }
  .heading::before {
    left: 0; }
  .heading::after {
    right: 0; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 13px;
    margin: auto;
    top: calc(100% + 4px);
    background-image: url("../images/crown.svg"); }

@media screen and (max-width: 415px) {
  .heading {
    font-size: 36px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 5px; }
    .photos__img_wide_left:first-child {
      width: calc(67% - 10px); }
    .photos__img_wide_left:last-child {
      width: calc(33% - 10px); }
    .photos__img_wide_right:first-child {
      width: calc(33% - 10px); }
    .photos__img_wide_right:last-child {
      width: calc(67% - 10px); }

@media screen and (max-width: 999px) {
  .photos__img_wide_left:first-child, .photos__img_wide_left:last-child {
    width: calc(50% - 10px); }
  .photos__img_wide_right:first-child, .photos__img_wide_right:last-child {
    width: calc(50% - 10px); } }

@media screen and (max-width: 415px) {
  .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .photos__img, .photos__img_wide_right:first-child, .photos__img_wide_right:last-child, .photos__img_wide_left:first-child, .photos__img_wide_left:last-child {
      width: 100%;
      margin-bottom: 12px; } }

.gallery__caption {
  margin: 0 0 35px; }

.gallery__button {
  margin: 44px auto 0; }

.button {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: white;
  background-color: #00aaef;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  padding: 19px 62px;
  text-transform: uppercase;
  border-radius: 5px; }
  .button:hover {
    background-color: #2f80ed; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 480px; }
  .consultation__heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px; }
  .consultation__form {
    width: 380px; }

@media screen and (max-width: 999px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%; } }

@media screen and (max-width: 415px) {
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input, .form__button {
    display: block;
    margin-bottom: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }

.input {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #393939;
  padding: 24px;
  background-color: #eee;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1; }
  .input::-webkit-input-placeholder {
    color: inherit;
    text-transform: uppercase; }
  .input::-moz-placeholder {
    color: inherit;
    text-transform: uppercase; }
  .input:-ms-input-placeholder {
    color: inherit;
    text-transform: uppercase; }
  .input::-ms-input-placeholder {
    color: inherit;
    text-transform: uppercase; }
  .input::placeholder {
    color: inherit;
    text-transform: uppercase; }
  .input_textarea {
    height: 166px; }

.testimonials {
  display: grid;
  grid-gap: 65px;
  grid-template-columns: repeat(3, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 999px) {
  .testimonials {
    grid-template-columns: repeat(1, 400px); } }

@media screen and (max-width: 415px) {
  .testimonials {
    grid-template-columns: repeat(1, 200px); } }

.person {
  text-align: center; }
  .person__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .person__name {
    margin-top: 12px;
    font-weight: 700; }
  .person__position {
    margin: 0;
    color: #696973;
    font-style: italic; }
  .person__text {
    position: relative; }
    .person__text::after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 33px;
      background-image: url("/images/quotes.svg");
      block-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: calc(100% + 6px);
      bottom: calc(100% + 6px); }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    font-size: 24px;
    width: 280px; }
  .contact__form {
    width: 380px; }

@media screen and (max-width: 999px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text, .contact__form {
      width: 100%; }
    .contact__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media screen and (max-width: 415px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text, .contact__form {
      width: 100%;
      display: block; } }

.footer {
  height: 540px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 95px; }

@media screen and (max-width: 415px) {
  .footer {
    height: 206px; }
    .footer__logo {
      bottom: 16px; } }

/*# sourceMappingURL=main.css.map */
